#deleteConfirmSpan
{
    display: inline-block; 
}
.buttonForRegisterAndLogin
{
    display: inline-block;
}

#unDoDeleteSpan
{
   display: inline-block; 
}

.prokrutka
{
    height: 70vh;
   
    overflow-y: auto;
}
#green
{
    background-color: green;
}
#yellow
{
    background-color: yellow;
}
#buttonsConfirmDeleting
{
    position: absolute;
    bottom: 0px;
    right: 0px;
}


#divBackGroundForDeleting
{
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 100%;
    
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.157);
    
}



.registerForm
{
    
    font-size: 20px;
}
#updateNewCommentOrPost
{
    color: white;
    font-size: 1cm;
}
#deleteOrUpdatePost
{
    position: sl 
}
#siteName
{
    /* display: table; */
    /* margin: 0 auto; */
    font-family: "Roboto Slab";
    /* font-weight: 400; */
    /* font-size: 5cm; */
    background: linear-gradient(330deg, #c0a2a2 0%, #a39ec2 25%, #99c5bc 50%, #f1f1f1 75%, #521313 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* position: absolute; */
}
.responsive-image
{
  
    border-radius: 20px;
    
    
}
.changeRole
{
    position: sticky;
}

.userRole
{  
   color: white;
   font-size: 20px; 
}
.row
{
    align-items: center;
}
.nav-link
{
    font-size:200%;
}



body
{
    min-height:100vh
}






.error-style{
    border : 4px solid red;
}
.redBull
{
    color: red;
}










































#deleteIcon
{
    width: 5%;
}



.avatarNearComment
{
 border-radius: 100%;
 width: 100%;
}
#deleteIcon
{
    float:right;
}
#avatarOnPostPage
{
    width:100%;
    border-radius:20%;
}
#divWithAvatarOnPostPage
{
    float:left;
}
#bigSize
{
    color:red;
}
#photoDiv
{
    
    display: table-cell;
    vertical-align: middle;
    display: flex;
}
.message
{
    margin: auto;
}
.picture
{
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    border-radius:20%
   /*  display: table-cell;
    vertical-align: middle */
}
.avatarOnProfilePage
{
    width: 100%;
    border-radius: 20%;
}
divWithAvatarOnProfilePage


.navigationPhotoInCarusel
{
    min-height: 10em;
    display: table-cell;
    vertical-align: middle 
}

.dropdown-menu.scrollable {
    height: auto;
    max-height: 30em;
    overflow-x: hidden;
}




